.weather {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #cfd9d9, #0a9dec);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  margin: 20px auto;
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  color: #333;
  transition: background 0.3s ease;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}
.search-bar img {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 4vh;
}
.weather-icon {
  width: 100px;
  height: 100px;
}
.weather-icon img {
  width: 100%;
  height: 100%;
}
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .location {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .temperature {
    font-size: 2rem;
    font-weight: bold;
  }
  .condition {
    font-size: 1.2rem;
    color: #555;
  }
}
.weather-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  gap: 30px;
}
.humidity {
  font-size: 1rem;
  display: flex;
}
.wind-speed {
  font-size: 1rem;
  display: flex;
}
.humidity img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.wind-speed img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.humidity-value {
  font-weight: bold;
}
.wind-speed-value {
  font-weight: bold;
}
