*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #d8dfe1, #345379);
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
  transition: background 0.3s ease;
}